

<section id="projects" class="section w-5/6 max-w-3xl m-auto flex flex-col ">
    <h2 class="text-3xl font-['Alfa_Slab_One'] flex gap-x-2.5 mb-24 ">Proyectos
        <svg class="h-8 w-8 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />  <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" /></svg>
    </h2>

    <article class="grid grid-cols-1 md:grid-cols-2 place-items-center gap-20">

        <div class="w-full max-w-96 bg-gray-900 rounded-lg flex flex-col ">

            <div class="rounded-t-lg overflow-hidden">
                <img src="/public/miFlix.png" class="bg-cover transition-transform duration-300 ease-in-out hover:scale-105" alt="Imagen de mi aplicación MiFlix"  />
            </div>
            
            <div>
                
        
                <h3 class="text-[#3b82f6] text-xl ml-4 mt-4 mb-1.5 font-['Alfa_Slab_One'] tracking-wide">MiFlix v1</h3>
                <div class="flex ml-4 mb-4 gap-x-2.5">
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        <img src="/src/assets/icons/sass.svg" alt="Ssaas icon" class="h-4 w-4"/>
                        Sass</button>
                        <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        BEM</button>
                        <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        Gulp</button>
                </div>
                <p class="p-4 font-['Poppins']">Demo tipo streaming para practicar Sass, BEM, Gulp y consumo de APIs (las próximas versiones incluirán autenticación y base de datos).</p>
                <div class="flex ml-4 mt-5 mb-5 ">
                        <a href="https://github.com/Sergiolpz-dev/MiFlix"  class="text-sm hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-2 items-center" target="_blank">
                        Code
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg>
                        </a>
                        <a href="https://miflix1.netlify.app/" class="text-sm ml-3 hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-1.5 items-center" target="_blank">Demo 
                            <svg class="h-6 w-6"  width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="7 8 3 12 7 16" />  <polyline points="17 8 21 12 17 16" />  <line x1="14" y1="4" x2="10" y2="20" /></svg>
                        </a>
                </div>
            </div>

        </div>

        <div class="w-full  max-w-96 bg-gray-900 rounded-lg flex flex-col ">
            <div class="h-1/2 w-full rounded-t-lg overflow-hidden">
                <img src="/public/impostor.png" class="bg-cover  transition-transform duration-300 ease-in-out hover:scale-105" alt="Imagen de mi aplicación El Impostor"  />
            </div>

            <div>

                <h3 class="text-[#3b82f6] text-xl ml-4 mt-4 mb-1.5 font-['Alfa_Slab_One'] tracking-wide">El Impostor</h3>
                <div class="flex flex-wrap ml-4 mb-4 gap-2">
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        <img src="/src/assets/icons/react.svg" alt="React icon" class="h-4 w-4"/>
                        React</button>
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        <img src="/src/assets/icons/typescript.svg" alt="TypeScript icon" class="h-4 w-4 rounded"/>
                        TypeScript</button>
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        Tailwind</button>
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        PWA</button>
                </div>
            </div>
            <p class="p-4 font-['Poppins']">Juego multijugador inspirado en "Among Us" donde debes descubrir al impostor. PWA instalable con soporte offline.</p>
            <div class="flex ml-4 mt-5 mb-5 ">
                    <a href="https://github.com/Sergiolpz-dev/Impostor-juego"  class="text-sm hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-2 items-center" target="_blank">
                    Code
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    </a>
                    <a href="https://impostor.sergiolpz.cloud" class="text-sm ml-3 hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-1.5 items-center" target="_blank">Demo
                        <svg class="h-6 w-6"  width="12" height="12" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="7 8 3 12 7 16" />  <polyline points="17 8 21 12 17 16" />  <line x1="14" y1="4" x2="10" y2="20" /></svg>
                    </a>
            </div>
        </div>

        <div class="w-full  max-w-96 bg-gray-900 rounded-lg flex flex-col ">
            <div class="h-1/2 w-full rounded-t-lg overflow-hidden">
                <img src="/public/github-auditor.png" class="bg-cover  transition-transform duration-300 ease-in-out hover:scale-105" alt="Imagen de mi aplicación Github Auditor"  />
            </div>

            <div>

                <h3 class="text-[#3b82f6] text-xl ml-4 mt-4 mb-1.5 font-['Alfa_Slab_One'] tracking-wide">Github Auditor</h3>
                <div class="flex ml-4 mb-4 gap-x-2.5">
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        n8n</button>
                </div>
            </div>
            <p class="p-4 font-['Poppins']">Workflow de automatización con n8n para auditar repositorios de GitHub, analizando commits, issues y estadísticas del proyecto.</p>
            <div class="flex ml-4 mt-5 mb-5 ">
                    <a href="https://github.com/Sergiolpz-dev/Github-Auditor-n8n"  class="text-sm hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-2 items-center" target="_blank">
                    Code
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    </a>
            </div>
        </div>

        <div class="w-full  max-w-96 bg-gray-900 rounded-lg flex flex-col ">
            <div class="h-1/2 w-full rounded-t-lg overflow-hidden">
                <img src="/public/api-rotativa.png" class="bg-cover  transition-transform duration-300 ease-in-out hover:scale-105" alt="Imagen de mi proyecto API IA Rotativa"  />
            </div>

            <div>

                <h3 class="text-[#3b82f6] text-xl ml-4 mt-4 mb-1.5 font-['Alfa_Slab_One'] tracking-wide">API IA Rotativa</h3>
                <div class="flex ml-4 mb-4 gap-x-2.5">
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        <img src="/src/assets/icons/typescript.svg" alt="TypeScript icon" class="h-4 w-4 rounded"/>
                        TypeScript</button>
                    <button class=" font-['Poppins'] text-xs flex items-center justify-center gap-x-1.5 bg-[#1f2937e6] px-2 py-1 rounded-2xl">
                        Bun</button>
                </div>
            </div>
            <p class="p-4 font-['Poppins']">API de chat con IA y balanceo de carga rotativo (Round Robin) entre Groq y Cerebras para distribuir peticiones y maximizar disponibilidad.</p>
            <div class="flex ml-4 mt-5 mb-5 ">
                    <a href="https://github.com/Sergiolpz-dev/api-ia-rotativa"  class="text-sm hover:cursor-pointer hover:bg-white hover:text-neutral-950 py-1 px-2 font-['Poppins'] font-semibold border rounded-lg flex gap-x-2 items-center" target="_blank">
                    Code
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    </a>
            </div>
        </div>

    </article>

</section>